<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net46" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="QRCoder" version="1.4.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net462" />
</packages>